{% extends "/layout/layout.twig" %}

{% block heading %}

  <div class="content-heading">

    <div class="options">

      <div class="options">
        {% if authed %}

          <a class="btn" href="{{ app.url.create('question/create') }}">Submit question</a>

        {% else %}

          <p><a class="btn" href="{{ app.url.create('login') }}">Login to post a question</a></p>

        {% endif %}
      </div>

    </div>

    {% if authed %}

      <h1>Welcome, {{ app.auth.user.getUsername() }}</h1>

    {% else %}

      <h1>Welcome</h1>

    {% endif %}

    <div class="breadcrumbs">

      {% for item in breadcrumb %}

          {% if item.url is not null %}
            <a href="{{ app.url.create(item.url) }}">{{ item.title }}</a> /
          {% else %}
            {{ item.title }}
          {% endif %}

      {% endfor %}

    </div>


  </div>

{% endblock %}

{% block content %}

  <div class="home-container">

    <div class="left-node">

      <div class="box">

        <div class="title">Welcome</div>

        <div class="content">

          <p>Invested is a global financial community for people interested in investing, stocks and savings. On Invested you are free to ask
          any question regarding economy and get answers from our users. Invested is aiming to solve any questions you have and make the most of your money. <br><br>

          If you know the answer to another members question, feel free to help them out. You will be rewarded with points!</p>

        </div>

      </div>

      <div class="box">

        <div class="title">Most recent questions</div>

        <div class="content">

          {% if recentQuestions is empty %}

            <p>No recent questions found</p>

          {% else %}

            {% for question in recentQuestions %}

              <div>

                <ul class="recent-questions">
                  <li class="points{{ question.getBestAnswer() ? ' accepted' : '' }}">{{ question.getAnswers().count() }}</li>
                  <li><a href="{{ app.url.create('question?id=' ~ question.getId()) }}">{{ question.getTitle() }}</a></li>
                  <li class="meta">{{ question.getDateCreatedRaw() | time_diff }}</li>
                </ul>

              </div>

            {% endfor %}

          {% endif %}

        </div>

      </div>

    </div> <!-- / LEFT NODE -->

    <div class="right-node">

      <div class="box">

        <div class="title">Popular tags</div>

        <div class="content">

          {% if popularTags is empty %}

            <p>No tags found</p>

          {% else %}

            {% for tag in popularTags %}

                <a class="tag" href="{{ app.url.create('tag?tag=' ~ tag.getTitle())}}">{{ tag.getTitle() }}</a>

            {% endfor %}

          {% endif %}

        </div>

      </div>

      <div class="box">

        <div class="title">Most active users</div>

        <div class="content">

          {% if activeUsers is empty %}

            <p>No users found</p>

          {% else %}

            {% for user in activeUsers %}

              <div>

                <a href="{{ app.url.create('user?id=' ~ user.getId())}}">{{ user.getUsername()}}</a>

              </div>

            {% endfor %}

          {% endif %}

        </div>

      </div>

    </div> <!-- / RIGHT NODE -->

  </div> <!-- / HOME CONTAINER -->

{% endblock %}
