{% extends '/layout/layout.twig' %}

{% block heading %}

  <div class="content-heading">

    <div class="options">

      <div class="options">
        {% if authed %}

          <a class="btn" href="{{ app.url.create('question/create') }}">Submit question</a>

        {% else %}

          <p><a class="btn" href="{{ app.url.create('login') }}">Login to post a question</a></p>

        {% endif %}
      </div>

    </div>

    <h1>List questions</h1>

    <div class="breadcrumbs">

      {% for item in breadcrumb %}

          {% if item.url is not null %}
            <a href="{{ app.url.create(item.url) }}">{{ item.title }}</a> /
          {% else %}
            {{ item.title }}
          {% endif %}

      {% endfor %}

    </div>


  </div>

{% endblock %}

{% block content %}
<div class="question-list-container">

  {% if questions is empty %}

    <p>No questions has been made</p>

  {% else %}

    <table>

      <thead>
        <tr>
          <th>Question</th>
          <th>Answers</th>
          <th>Info</th>
        </tr>
      </thead>

      <tbody>
        {% for question in questions %}


          <tr>

            <td>
              <h4>
                <a href="{{ app.url.create('question?id=' ~ question.getId()) }}">{{ question.getTitle() | escape }}</a>
              </h4>
              <p>
                {{ question.getBody() | escape | truncate(300) }}
              </p>
            </td>

            <td>
              <div>
                {{ question.answers().count() }} answers
              </div>
            </td>

            <td>
              <div>
                Asked by <a class="user-link" href="{{ app.url.create('user?id=' ~ question.getUser.getId() ) }}">{{ question.getUser().getUsername() }}</a> <br>
                on <em title="{{ question.getDateCreated }}">{{ question.getDateCreatedRaw | time_diff }}</em>
              </div>
            </td>

          </tr>
          {# }<div class="item">

            <div class="icon">
              <div>
                <a href="{{ app.url.create('question?id=' ~ question.getId()) }}"><i class="fa fa-sticky-note-o fa-2x"></i></a>
              </div>
            </div>

            <div class="question">

              <div>
                <h4>
                  <a href="{{ app.url.create('question?id=' ~ question.getId()) }}">{{ question.getTitle() | escape }}</a>
                </h4>
                <p>
                  {{ question.getBody() | escape | truncate(300) }}
                </p>
              </div>

            </div>

            <div class="answers">
              <div>
                {{ question.answers().count() }} answers
              </div>
            </div>

            <div class="info">
              <div>
                Asked by <a href="#">Markus</a> <br>
                on <em title="{{ question.getDateCreated }}">{{ question.getDateCreatedRaw | time_diff }}</em>
              </div>
            </div>

          </div> #}

        {% endfor %}

      </tbody>

    </table>

  {% endif %}

</div>

{% endblock %}
