{% extends '/layout/layout.twig' %}

{% block heading %}

  <div class="content-heading">

    <h1>View list of tags</h1>

    <div class="breadcrumbs">

      {% for item in breadcrumb %}

          {% if item.url is not null %}
            <a href="{{ app.url.create(item.url) }}">{{ item.title }}</a> /
          {% else %}
            {{ item.title }}
          {% endif %}

      {% endfor %}

    </div>

  </div>

{% endblock %}


{% block content %}

<div class="tag-list-container">

  <h1>View list of tags</h1>

  <div class="box">


    <div class="title">Tags</div>

    <div class="content">
      {% if tags is not empty %}

        {% for tag in tags %}

            <a class="tag" href="{{app.url.create('tag?tag=' ~ tag.getTitle()) }}">{{ tag.getTitle() }}</a>

        {% endfor %}

      {% else %}

        <p>No tags found</p>

      {% endif %}
    </div>

  </div>

</div>


{% endblock %}
